body {
  text-align: center;
}

.input-text input {
  width: 250px;
  height:30px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-bottom: 7px;
  background-color: rgb(229, 229, 229);
}

.input-text input:hover {
  border: 2px solid rgb(150, 150, 150);
}

.submit-button button{
  width: 65px;
  height: 28px;
  border: none;
  border-radius: 5px;
  background-color: #95e722;
  color: white;
}

.submit-button button:hover{
  background-color: #80cc6d;
  color: black;
}

.table-items {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.table-items th,td {
  padding: 5px 50px 5px 50px;
  border-radius: 5px;
}

.table-items th{
  background-color: #086375;
  color: white;
}

.table-items td{
  background-color: #b6d0d5;
}

.delete-button {
  width: 60px;
  height: 23px;
  border: none;
  border-radius: 3px;
  margin-bottom: 3px;
  background-color: white;
}

.update-button {
  width: 60px;
  height: 23px;
  border: none;
  border-radius: 3px;
  margin-bottom: 3px;
  background-color: white;
}

.delete-button:hover {
  background-color: #7aa1a9;
  color:white;
}

.update-button:hover {
  background-color: #7aa1a9;
  color:white;
}

.edit-item-field input {
  height: 22px;
  margin-right: 5px;
  background-color: rgb(229, 229, 229);
  border: none;
  border-radius: 5px;
  padding: 5px 50px 5px 0px;
}

.save-changes {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #95e722;
  color: white;
}

.save-changes:hover{
  background-color: #80cc6d;
  color: black;
}